.App {
  margin: 10px;
}

div.form-group {
  margin-bottom: 10px;
}

.bg-primary {
  background-color: #63a3be !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-secondary {
  background-color: #63a3be !important;
}

.nav {
  border-bottom: groove;
}

.nav-link {
  color: #333 !important;
}
.nav-link:hover {
  color: rgb(163, 146, 146) !important;
}

h3 {
  background-color: lightgrey;
  margin-top: 50px;
}

.logo {
  width: 64px;
  height: 64px;
}

.list .action {
  cursor: pointer;
}

.submit-form {
  max-width: 600px;
  margin: auto;
}

.edit-form {
  max-width: 600px;
  margin: auto;
}

div.form-group {
  margin-top: 10px;
}

label {
  font-weight: bold;
  background-color: lightgray;
  width: 100%;
}

.smallText {
  font-size: 10px;
  width: 10px;
}

.classDisplay {
  width: 600px;
}

.errorText {
  color: red;
}

li.noStyle {
  min-height: 32px;
  cursor: pointer;
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  overflow: scroll;
}

ul.noStyle {
  max-height: 200px;
  overflow: scroll;
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  border-style: groove;
}

li.noStyle:hover {
  background-color:gainsboro;
  text-align: left
}

div.rootDiv {
  margin: 10px;
}

div.dzContainer {
  background-color: #dddddd;
  border: 1px solid black;
  margin-bottom: 10px;
}

.dropzone {
  text-align: center;
  padding: 30px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
}

.selected-file-wrapper {
  text-align: center;
}

div.buttonRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex: 1;
  flex-direction: row;
  padding: 5px;
}

.dropdown-toggle::after {
  display: none;
}

.pathSegment {
  text-align: center;
  margin: 2px;
  height: 64px;
  padding: 10px;
  border: 2px solid #363634;
  border-radius: 5px;
  background-color: #eeedb0;
  color: #363634;
  cursor: pointer;
}

.majorText {
  font-size: 22px;
  white-space: pre-line;
  overflow-x: scroll;
}

.minorText {
  font-size: 14px;
  white-space: pre-line;
}

div.scrollable {
  width: 100%;
  overflow-x: scroll;
}